@import '../../styles/_colors.scss';

.navbar {
  background: $red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;

  li {
    a {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background: $yellow;
      color: $black;
      font-weight: bold;
      transition: all 0.2s;

      &:hover {
        background: $white;
        color: $red;
      }
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;

    li a {
      text-align: center;
      display: block;
    }
  }
}
