@use "../../styles/_variables.scss" as v;

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  color: v.$white;

  .content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      font-weight: 700;
      white-space: pre-line;
    }

    p {
      font-size: 1.75rem;
      margin-bottom: 2rem;
    }

    .cta {
      display: inline-block;
      background: v.$white;
      color: #3b4cca;
      padding: 0.75rem 2rem;
      width: fit-content;
      font-weight: 600;
      font-size: 1.5rem;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        background: v.$red;
        transform: translateY(-2px);
        color: v.$white;
      }
    }
  }

  .image {
    width: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  // Mobile
  @media (max-width: v.$breakpoint-md) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;

    .content {
      align-items: center;
      h1 {
        font-size: 2.25rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .image {
      width: 100%;
    }
  }
  
}
